<h1>Our Story</h1>

<div class="container">
    <img src="https://i.imgur.com/INqMmCB.jpg" class="standardItem">
    <p class="standardItem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis tincidunt velit, id
        condimentum arcu lacinia vitae. Aliquam erat volutpat. Nulla at mauris euismod, porta est nec, venenatis tortor.
        Praesent cursus, eros sit amet lobortis placerat, ipsum lacus rutrum nunc, tincidunt pretium ex dui in lorem.
        Integer tristique eleifend augue quis viverra. Curabitur pharetra nisi massa, quis viverra libero molestie nec.
        Curabitur pellentesque leo ac lacus sagittis suscipit. Curabitur ut metus vitae felis gravida mattis. Vivamus
        malesuada felis eget quam mattis viverra. Sed in ex auctor, tempus ante ac, malesuada erat. Sed placerat, ligula
        ac hendrerit bibendum, ante mauris molestie nisl, quis fringilla sem quam in erat. Nulla tincidunt lorem nec
        enim interdum, eu aliquet sem euismod. Pellentesque congue eros lorem, quis tincidunt enim ultrices in.</p>
</div>