* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    font-family: 'Gentium Plus', serif;
    font-size: x-large;
}

h1 {
    color: #675491;
}

button {
    border: 0;
    font-family: 'Gentium Plus', serif;
    padding: 5px;
    margin: 10px;
}

button:hover {
    background-color: #55a3b5;
    color: white;
}

form {
    border: 1px solid #999999;
    max-width: 50%;
    margin: auto;
    background-color: #CCCCCC;
    margin-top: 1em;
    box-shadow: 2px 3px #675491;
    font-size: medium;
}

mat-form-field {
    margin: auto;
    padding: 0;
    background-color: #CCCCCC;
    max-width: 95%;
}

mat-label {
    color: #675491;
}

form button {
    font-size: large;
    margin-top: 1em;
}

input {
    width: 50%;
    margin: auto;
    font-size: medium;
    margin-bottom: 2em;
}

div {
    margin: 1em;
}

ul {
    list-style: none;
}

footer {
    font-size: small;
    background-color: #999999;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}

.navBar {
    width: 100%;
    background-color: #999999;
    display: flex;
    align-items: center;
    height: 2em;
}

.navBarItem {
    background-color: #999999;
    font-size: large;
    color: white;
    margin: .5em;
}

.navBarItem:hover {
    border: 1px solid white;
}

.navLogo {
    max-height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}

.containerWithButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

.standardItem {
    max-width: 45%;
    padding: .5em;
    margin: 1em;
}

.productImage {
    max-width: 100%;
}

.summaryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.summaryTile {
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 1px 2px #675491;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 30%;
}

.summaryTileImage {
    max-width: 100%;
    height: 66%;
}

.summaryInfo {
    color: #675491;
    font-size: large;
    padding: 2em;
}

.summaryButton {
    margin: 0;
}

.headerButton {
    font-size: large;
    background-color: white;
    color: #55a3b5;
    border: 1px solid #55a3b5;
}

.title {
    font-size: larger;
}

.description {
    color: #675491;
    font-style: italic;
}

.outOfStock {
    font-size: small;
    color: #999999;
}

.formButton {
    display: inline;
}

.singleButton {
    max-width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.editPage {
    display: flex;
    flex-direction: row;
}

.editPageItem {
    margin: 2em;
    width: 50%;
}

.editPage img {
    height: 15em;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gentium Plus', serif;
    font-size: larger;
    align-items: baseline;
}

.searchBar label {
    font-size: small;
    color: #999999;
    text-align: left;
    align-items: left;
}

.leftSearchBar input {
    margin: 0;
    max-width: 15em;
    color: #675491;
    font-size: large;
    border: 1px solid #999999;
}

.leftSearchBar button {
    border-radius: 50%;
}

.rightSearchBar button {
    margin: 0;
    font-size: large;
}

.rightSearchBar input {
    max-width: 2em;
    font-size: large;
    border: 1px solid #999999;
    color: #675491;
}

.searchBarItem {
    margin-left: 1em;
}
