<div>
    <h1>Create New Product</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Product Name</mat-label>
            <input matInput name="name" [(ngModel)]="newProduct.productName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Product Description</mat-label>
            <input matInput name="description" [(ngModel)]="newProduct.productDescription">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Product Size</mat-label>
            <mat-select [(value)]="selected" class="dropdown">
                <mat-option value="xsmall">Extra Small</mat-option>
                <mat-option value="small">Small</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="large">Large</mat-option>
                <mat-option value="xlarge">Extra Large</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Product Price</mat-label>
            <input matInput type="number" name="price" [(ngModel)]="newProduct.productPrice">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Image URL</mat-label>
            <input matInput name="url" [(ngModel)]="newProduct.productImageURL">
          </mat-form-field>
          <section>
              <mat-checkbox name="stock" [(ngModel)]="newProduct.productInStock">In Stock?</mat-checkbox>
          </section>
          <button type="submit" class="singleButton">SAVE PRODUCT</button>
    </form>
</div>